:root{
    --col-prim-dark-gray: hsl(0, 0%, 50%); 
    --col-prim-black: hsl(0, 0%, 0%); 
    --col-prim-white: hsl(0, 0%, 100%); 
    --col-prim-very-dark-gray: hsl(0, 0%, 27%);
    
    --font-size-def: 14px; 
    --font-family-def: League Spartan;
    --font-w-500: 500; 
    --font-w-600: 600; 
    --font-w-700: 700; 

    font-family: var(--font-family-def);

}

body{
    background-color: rgb(226, 225, 225);
}


.App{
    /* max-width: 1440px; */
    min-height: 100vh;
    max-width: 1800px;
    background-color: white;
    margin: auto;
    display: grid;
    grid-template-rows: 2fr 1fr;
    position: relative;
}

p{
    font-size: var(--font-size-def);
    color: var(--col-prim-dark-gray);
    font-weight: var(--font-w-500);
}


.hero-wrap{
    display: grid;
    grid-template-columns: 3fr 2fr;
}


.nav-wrap{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 1em 0 1em;
    z-index: 2;
    width: 100%;
}

.nav-menu-icon{
    display: none;
}

.nav-logo{
    padding: 2em;
    padding-right: 3em;
    cursor: pointer;
}


.nav-items-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-width: 250px;
    max-width: 550px;
    min-height: 5vh;
}

.nav-item{
    padding: 1em;
    color: var(--col-prim-white);
    font-weight: var(--font-w-500);
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    cursor: pointer;
}


.hero-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
}

/* image overlay increases visibility of nav text */
.hero-image::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.153);
    width: 100%;
    height: 100%;
    position: absolute;
}


.hero-right-side-wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-text-wrap{
    padding: 0 4rem 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}


.hero-text-title{
    font-size: clamp(2rem, 3.2vw, 4rem);
    font-weight: var(--font-w-600);
    line-height: clamp(2rem, 3vw, 5rem);
    margin-bottom: 2rem;
    max-width: 500px;
}


.hero-text-main{
    text-align: justify;
    line-height: 1.5rem;
    max-width: 450px;
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}

.call-to-action{
    letter-spacing: 12.5px;
    margin-top: 2rem;
    cursor: pointer;
    color: var(--col-prim-black);
    transition: 100ms all ease;
}

.call-to-action:hover{
    color: var(--col-prim-dark-gray);
}

.call-to-action p{
    color: inherit;
}


.slider-button-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--col-prim-black);
    width: max(100px, 16.66%);
    height: clamp(50px, 4vw, 65px);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    transform: translateX(100%);
}


.slider-button{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms all ease;
    cursor: pointer;
}


.slider-button img{
    width: 25%;
}


.slider-button:hover{
    background-color: var(--col-prim-very-dark-gray);
}

.details-wrap{
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    align-items: center;
    min-height: 266px;
}

.details-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.details-text-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-text{
    padding: 0.5rem 3rem 0.5rem 3rem;
    text-align: justify;
    font-size: clamp(0.8rem, 1vw, 1rem);
}


.details-text-title{
    font-weight: var(--font-w-700);    
    font-size: clamp(0.8rem, 1.7vw, 1.4rem);
    letter-spacing: 6.67px;
    margin-bottom: 1rem;
    text-align: left;

}


@media  only screen and (max-width : 900px) {
    .App{
        display: flex;
        flex-direction: column;
    }


    .hero-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-image{
        background-size: cover;
        background-position: center;
        height: 50vh;
        /* max-width: 600px; */
    }

    .hero-text-wrap{
        padding: 4em 2em 4em 2em;
    }

    .hero-text-title{
        margin-bottom: 1rem;
    }

    .slider-button-wrap{
        transform: translateX(0);
    }

    .details-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .details-image{
        background-size: cover;
        background-position: center;
        height: 30vh;
        max-width: 720px;
        margin-left: auto;
    }

    .details-text-wrap{
        margin: auto;
        max-width: 600px;
        padding: 2em;
    }

    .details-text{
        padding: 0;
    }
}


@media only screen and (max-width : 550px){
    .nav-items-wrap{
        display: none;
    }

    .nav-items-wrap-toggle{
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        justify-content: right;
        align-items: center;
        width: 100%;
        height: 15vh;
        background-color: white;
        padding-right: 0.5em;
    }

    .nav-items-wrap-toggle::after{
        position: absolute;
        top: 15vh;
        left: 0;
        width: 100%;
        height: 200vh;
        background-color: rgba(0, 0, 0, 0.609);
        content: '';
    }

    .nav-item{
        padding: 0.7em;
        color: var(--col-prim-black);
    }

    .nav-logo{
        margin: auto;
        padding: 3.4em;
    }

    .nav-menu-icon{
        display: block;
        position: absolute;
        top: calc(7.5vh - 1em - 8px);
        cursor: pointer;
        padding: 1em;
        z-index: 2;
        color: var(--col-prim-white);
    }
}